body {
  background: rgb(240, 216, 171);
}
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Inconsolata", monospace;
}
h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  background: rgb(252, 252, 160);
  width: 60%;
  margin: 20px auto;
  font-size: 50px;
}
.row {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
h2 {
  margin-right: 10px;
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.form-group {
  margin-top: 10px;
}
#add-burger {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  background: rgb(252, 252, 160);
}
#left-col {
  float: left;
  background: rgb(250, 197, 196);
  text-align: center;
}

#right-col {
  float: right;
  background: rgb(250, 197, 196);
  text-align: center;
}
