<li>
	{{name}}
	{{#unless devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		DEVOUR!
	</button>
	{{/unless}}
	<button class ="delete-burger" data-id="{{id}}" >DELETE BURGER!</button>
</li>
